<footer class="w-full py-6 bg-blue-600 text-white text-center text-sm">
  <div class="container mx-auto">
    <p class="">&copy; MiniLink. Software Livre e de Código Aberto.</p>
    <p class="mt-2">
      Distribuído sob a licença <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank" class="hover:underline">GPLv3</a>.
      Contribua no <a href="https://github.com/JVitoroliv3ira/mini-link" class="hover:underline">GitHub</a>.
    </p>
    <p class="mt-2">
      <a href="#" class="hover:underline">Sobre</a> |
      <a href="#" class="hover:underline">Recursos</a> |
      <a href="#" class="hover:underline">Preços</a> |
      <a href="#" class="hover:underline">Entrar</a>
    </p>
  </div>
</footer>
