<section class="w-full max-w-3xl md:max-w-4xl lg:max-w-6xl min-h-screen flex flex-col items-center justify-center text-center p-4 mx-auto">
  <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold leading-snug md:leading-tight mb-3">
    <span class="typing-effect">Conecte, compartilhe e simplifique</span>
  </h1>

  <span class="text-base md:text-lg lg:text-xl text-blue-600 mb-6 max-w-2xl">
    Com o MiniLink, transforme links longos em URLs curtas, gerencie-os e acompanhe as métricas com facilidade.
  </span>

  <mini-link-shorten-link-form
    [loading]="loading"
    (shortenLink)="shortenLink($event)"
    class="w-full max-w-lg lg:max-w-2xl flex items-center justify-center"
  ></mini-link-shorten-link-form>

  <mini-link-shortened-link-result
    class="w-full max-w-lg lg:max-w-2xl flex items-center justify-center mt-5"
    originalUrl=""
    shortUrl=""
  ></mini-link-shortened-link-result>
</section>
